{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello World!</h1>
</div>

<!--The format ('LLL') format renders the date and time according to the time zone
and locale settings in the client computer. The range of this arguement goes from 
L -> LLLL, for different levels of verbosity-->
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>

<!--The -->
<p>That was{{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}
